profiles {

    standard {
        process {
            executor = 'local'
            memory = '10G'
            cpus = 2
        }
    }

    slurm_h4h {
        process {
            executor = 'slurm'
            time = '10h'
            memory = '10G'
            cpus = 2
            queue = 'all'
            clusterOptions = {
                "-J rrbs.${task.process}.${task.tag}" +
                "--mail-type=END,FAIL " +
                "--mail-user=pathum.kossinna@uhn.ca " +
                "--output=./slurm_logs/%x_%j.out " +
                "--error=./slurm_logs/%x_%j.out"
            }
        }

        withName: bismarkAlign {
          mem = '50G'
          queue = 'himem'
          time = '24:00:00'
        }

        withName: siteMatrix {
          mem = '40G'
          queue = 'himem'
        }

        withName: regionMatrix {
          mem = '40G'
          queue = 'himem'
        }
    }
}